<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> -->
	<!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/cr-1.4.1/fh-3.1.3/r-2.2.0/sc-1.4.3/sl-1.2.3/fc-3.2.3/datatables.min.css"/> -->

        <link rel="stylesheet" href="/static/css/pure-min.css">
	<link rel="stylesheet" href="/static/css/base-min.css">
	<link rel="stylesheet" href="/static/css/datatables.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200|Quattrocento+Sans">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
           <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"> -->
		<link rel="stylesheet" href="/static/css/grids-responsive-min.css">
        <!--<![endif]-->

        <link rel="stylesheet" href="/static/css/side-menu.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <link rel="stylesheet" href="/static/css/modal.css">
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">

        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png"> 

        <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script> -->
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/cr-1.4.1/fh-3.1.3/r-2.2.0/sc-1.4.3/sl-1.2.3/fc-3.2.3/datatables.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://unpkg.com/vue"></script> -->
        <!-- <script type="text/javascript" src="https://purecss.io/js/menus.js"></script> -->

	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/vfs_fonts.js"></script>
	<script type="text/javascript" src="/static/js/pdfmake.min.js"></script>
	<script type="text/javascript" src="/static/js/datatables.min.js"></script>
	<script type="text/javascript" src="/static/js/vue.min.js"></script>
	<script type="text/javascript" src="/static/js/menus.js"></script>

        <title>Log Server</title>
    </head>
    <body>
        <div id="layout">
            <!-- Menu toggle -->
            <a href="#menu" id="menuLink" class="menu-link">
                <!-- Hamburger icon -->
                <span></span>
            </a>
            <div id="menu">
                <div class="pure-menu">
                    <a class="pure-menu-heading" href="javascript:void(0)">Log Server</a>
                    <img class="img-circle" src="/static/img/profilepic.jpg" alt="Profile Picture">
                        <input type="checkbox" class="read-more-state" id="post-1" />
                        
                        
                        <div class="read-more-wrap">
                            <label for="post-1" class="read-more-trigger">
                            <div class="userprofile">                 
                                {{ user.username }} <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                            <!-- <span class="read-more-target"> -->
                                <div class="pure-menu-item read-more-target">
                                    <a href="/logout/" class="pure-menu-link">Logout</a>
                                </div>
                            <!-- </span> -->
                        </div>
                        
                    <div class="pure-menu-item">
                        <div class="userprofile">
                            <span>Last login: {{ user.last_login }}</span>
                        </div>
                    </div>
                    <br/>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a>
                        <li class="pure-menu-item"><a href="/admin/" class="pure-menu-link" target="_blank">Admin Panel</a>
                            <li class="pure-menu-item"><a href="/add" class="pure-menu-link">Add Logs</a>
                                <li class="pure-menu-item"><a href="/delete" class="pure-menu-link">Delete Logs</a>
                        <!-- <li class="pure-menu-item""><span><a href="javascript:void(0)" class="pure-menu-link" target="_blank">{{ user.username }}</a></span></li> -->
                    </ul>
                </div>
            </div>
            <div id="main">
                <div class="header">
                    <img class="pure-img-responsive header-img" src="/static/img/firewood.png" />
                    <h1>{{ page_title }}</h1>
                    <h2>{{ page_subtitle }}</h2>
                </div>
                <div class="content">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="/static/js/ui.js" />
</body>
</html>
